body{
    background-color: purple;
    text-align: center;
}

/* Game Container */
#gameContainer{
    width: 40vw;
    height: 40vw;
    margin: 1vw auto;
    background-color: black;
    border: solid 10px turquoise;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px black;
}

/* Pixels */
.gameBoardPixel{
    width: 1vw;
    height: 1vw;
    border-radius: 10px;
    float: left;
    
}
.food{
    background-color: red;
    box-shadow: 0 0 10px palevioletred;
}
.snakeBodyPixel{
    background-color: green;
    box-shadow: 0 0 10px lightgreen;
}

/* Score Container */
#scoreContainer{
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.scoreboard{
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    border: solid 5px turquoise;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 4px;
    width: 40%;
    box-shadow: 0px 0px 20px 3px black;
}


/* On-Screen Controller */
#onScreenController{
    display: none;
}


@media only screen and (max-width: 785px) {
    #gameContainer{
        width: 80vw;
        height: 80vw;
    }
    .gameBoardPixel{
        width: 2vw;
        height: 2vw;
    }
    #scoreContainer{
        width: 80vw;
    }

    #onScreenController{
        width: 80vw;
        margin: 5vw auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #onScreenController > div{
        display: flex;
        flex-direction: column;
    }
    #onScreenController button{
        background-color: transparent;
        height: 20vw;
        width: 20vw;
        font-size: 10vw;
        border: none;
    }
    #onScreenController button:focus{
        outline: none;
    }
    #onScreenController button:active{
        background-color: gray;
    }

}